[submodule "TheASDplan"]
	path = TheASDplan
	url = https://github.com/piotr233/TheASDplan
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
[submodule "SDL_image"]
	path = SDL_image
	url = https://github.com/libsdl-org/SDL_image
